* {
    background-color: aquamarine;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    border: 1px solid red;
    border-collapse: collapse; 
    border-color: red;
    font-size: 70px;
    background-color: white;
    margin-top: 10px;
}
td {
    border: 1px solid red;
    padding: 10px;
}
button {
    font-size: 20px;
    margin-top: 5px;
}